type project
id SweIdNum
version 0.2.1
authors Oskar Gewalli
description
    Validate swedish identity numbers
tags
    personnummer organisationsnummer
projectUrl https://github.com/wallymathieu/swe-id-num
licenseurl http://opensource.org/licenses/MIT

