type project
id SweIdNum
version 1.1.0
authors Oskar Gewalli
description
    Validate swedish identity numbers
tags
    personnummer organisationsnummer
releaseNotes
    Added isMale, isFemale.
projectUrl https://github.com/wallymathieu/swe-id-num
licenseurl http://opensource.org/licenses/MIT

