type project
id SweIdNum
version 1.0.0
authors Oskar Gewalli
description
    Validate swedish identity numbers
tags
    personnummer organisationsnummer
releaseNotes
    Validates Luhn checksum on parse.
projectUrl https://github.com/wallymathieu/swe-id-num
licenseurl http://opensource.org/licenses/MIT

